body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 5%;
}

.btn {
    color: aliceblue;
    background-color: rgb(180, 90, 180);
    border: 1px groove white;
    margin: 3px;
}

/* Makes every other list item in score list have a background */
.highscoreli:nth-child(odd) {
    background-color: rgb(208, 170, 218);
}