body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 40%;
    margin: 5%;
}

.btn {
    color: aliceblue;
    background-color: rgb(180, 90, 180);
    border: 1px groove white;
    margin: 3px;
}